header {
    background-color: #e5f83d;
    padding: 20px;
}

body {
    margin: 0px;
    width: 100vw;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: grey;
}

#nombre {
    font-size: 20px;
    color: black;
}

.input-formulario{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid purple;
}

footer {
    text-align: center;
}